@import url('/node_modules/react-grid-layout/css/styles.css');
@import url('/node_modules/react-resizable/css/styles.css');

:root {
  /* Defaults */

  #root {
    height: 100%;
    width: 100%;
  }

  body {
    height: 100vh;
    height: 100dvh;
  }
}
